:root {
  --color-primary: #29ABE2;
  --color-bg-main: #F6F6FA;
  --color-white: #FFFFFF;
  --color-black: #1C1C1E;
  --color-light-grey: #88A8B6;
  --color-light-grey-2: #B6CCD6;
  
  --common-font: 'Roboto', Verdana, Tahoma, sans-serif;
  --font-size-header: '32px';
  --font-size-body: 16px;

  --size-xs: 4px;
  --size-sm: 8px;
  --size-lg: 16px;
  --size-xl: 24px;
  --size-xxl: 32px;

  --border-dashed: 1px dashed #B6CCD6;
}